<ActionBar class="action-bar">
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Quiz"></Label>
</ActionBar>

<GridLayout>
<Label class="h2 header" text="QUIZ"></Label>
<ListView [items]="quiz$ | async"  height="300">
    <ng-template let-item="item" let-i = "index">                  
        <StackLayout columns="auto,*,auto">
                <Label class="h3 header"  col="1" [text]='item.Name'></Label>
                <Label row = "1" [text]='item.Option[0].name'></Label>
                <Label  row = "2" [text]=' item.Option[1].name'></Label>
                <Label  row = "3" [text]='item.Option[2].name'></Label>
                <Label  row = "4" [text]='item.Option[3].name'></Label>

        </StackLayout>                 
    </ng-template>
</ListView> 
</GridLayout>