<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Questions "></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Search'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent >
        <StackLayout *ngIf = "(tags$ | async)?.length==0"  class="page page-content">
                <label text = "There are no Topics for this class yet, Contact the Instructor"></label>

        </StackLayout>
        <Label class = "h3" text = "Create a question for {{Cname}} question based on a Topic"></Label>
            <ListView  [items]="tags$ | async"  height="420">
                    <ng-template let-item="item">                  
                        <StackLayout columns="auto,*,auto" >
                            <label class = "h3 heavy"[text]= '"Topic: " + item.Name'></label>
                            <button text = "Create a Question" class="btnIcon" (tap)="createQuestion(item.Name, item.id)"></button>
                            <button text="Start Quiz" class="btnIcon" col = "4"(tap) = "navQuiz(item.Name, item.id)"></button>
                        </StackLayout>                 
                    </ng-template>
                </ListView>
    </GridLayout>
</RadSideDrawer>