<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <ActionItem (tap)="logOut()">
        <Button text="Logout" class="action-item"></Button>
      </ActionItem>   
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

    <GridLayout class="page page-content" tkMainContent>
        <Label class="page-placeholder" ></Label>            
       
        <TabView #tabview>
        <StackLayout class="form" *tabItem="{title: 'Available Classes'}">
                <Label class="h2 header" text="List of Classes"></Label>

            <ListView [items]="classrooms$ | async"  height="300">
                <ng-template let-item="item">                  
                    <GridLayout columns="auto,*,auto">
                            <button text=" Register in class" class="btnIcon" (tap) = "inClass(item, item.id, item.Name, item.Professor, item.Year, item.UID)"></button>
                            <Label class="h3 header"  col="1" [text]='item.Name'></Label>
                        <Image *ngIf = "item.UID == currentUser" class="m-5" col="2" horizontalAlignment="right" width="40" height="40" (tap)="deleteCl(item)" [src]="'~/assets/trash.png'"></Image>
                    
                        </GridLayout>                 
                </ng-template>
            </ListView>
        </StackLayout>

        <StackLayout *tabItem = "{title: 'Registered Classes'}"  class="form">
                
                            <Label class="h2 header" text="My Class List"></Label>
                        <ListView [items]="myclassrooms$ | async"  height="300">
                            <ng-template let-item="item">                  
                                <StackLayout columns="auto,*,auto">
                                        <Label class="h3 header"  col="1" [text]='item.ClassName + " Year: "+ item.Year'></Label>
                                        <label Class = "h3 header" [text] = '"Created by: "+ item.Professor'></label>
                                        <button text="View Class" class="btnIcon" (tap) = "activateClass(item.CID, item.ClassName, item.UID)"></button>
                                </StackLayout>                 
                            </ng-template>
                        </ListView> 
            <Button class="btn btn-primary" text="Create Class" (tap)="navclass()"></Button>

        </StackLayout>
        </TabView>


    </GridLayout>
