<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>322940339236-7ice3sp4dduqeb19j7a9k2siabtmloaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322940339236-7ice3sp4dduqeb19j7a9k2siabtmloaj</string>
	<key>API_KEY</key>
	<string>AIzaSyAkTKw-nFvfPA_zerg85MlaJf3qmnB9jQg</string>
	<key>GCM_SENDER_ID</key>
	<string>322940339236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.directed2018.quizroom</string>
	<key>PROJECT_ID</key>
	<string>quizroom-4493b</string>
	<key>STORAGE_BUCKET</key>
	<string>quizroom-4493b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322940339236:ios:16a960b00319200c</string>
	<key>DATABASE_URL</key>
	<string>https://quizroom-4493b.firebaseio.com</string>
</dict>
</plist>