<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421120014004-q7m385r5m9obfgjoed0ran7dg936aal3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421120014004-q7m385r5m9obfgjoed0ran7dg936aal3</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-DHMixh7CSV2GKH-nqM3nKGTqIeVVd8</string>
	<key>GCM_SENDER_ID</key>
	<string>421120014004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.dirproto5</string>
	<key>PROJECT_ID</key>
	<string>directed-studies</string>
	<key>STORAGE_BUCKET</key>
	<string>directed-studies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421120014004:ios:fb2349e7855a610e</string>
	<key>DATABASE_URL</key>
	<string>https://directed-studies.firebaseio.com</string>
</dict>
</plist>